.hero {
  padding: 8rem;
}

.logo {
  width: 34px;
  margin-bottom: 3rem;
}

.nameTitle {
  margin-bottom: 3rem;
}

.name {
  font-size: 3rem;
  line-height: 1.15em;
}

.title {
  color: #696f81;
  font-size: 1.75rem;
  font-weight: 300;
}

.spiel {
  font-size: 1.25rem;
  font-weight: 300;
  max-width: 50ch;
  line-height: 1.5em;
  margin-bottom: 5rem;
}

.work {
  display: inline-block;
  font-size: 1.25rem;
  font-weight: 300;
  text-decoration: none;
  color: initial;
  margin-right: 3rem;
  padding: 0.5em 0;
  border-bottom: 1px solid #d3d6de;
  transition: border-bottom 0.3s;
}

.work:hover {
  border-bottom-width: 4px;
  border-bottom-color: #696f81;
}

.contact {
  display: inline-block;
  font-size: 1.25rem;
  font-weight: 300;
  text-decoration: none;
  padding: 1rem 1.75rem;
  border-radius: 8px;
  background-color: #1e69ff;
  color: #fff;
  box-shadow: 0 6px 24px -6px #9e9e9e;
  transition: box-shadow 0.3s;
}

.contact:hover {
  box-shadow: 0 8px 24px 0 #9e9e9e;
}

.contact:active {
  scale: 0.95;
}

@media (max-width: 640px) {
  .hero {
    padding: 4rem;
  }

  .work {
    margin-right: 2rem;
    padding: 0.25em 0;
  }

  .contact {
    padding: 0.75rem 1.125rem;
  }
}

@media (max-width: 480px) {
  .hero {
    padding: 2rem;
  }

  .work {
    font-size: 1.125rem;
    margin-right: 1.5rem;
    padding: 0.25em 0;
  }

  .contact {
    font-size: 1.125rem;
    padding: 0.75rem 1.125rem;
  }
}
