.works {
  padding: 0 8rem 8rem;
}

.work {
  margin-bottom: 3rem;
}

.intro {
  font-size: 1.25rem;
  font-weight: 300;
  max-width: 50ch;
  margin-bottom: 3rem;
}

.name {
  font-size: 2rem;
  font-weight: 900;
  text-decoration: none;
  color: inherit;
  transition: color 0.3s;
}

.name:hover {
  color: #1e69ff;
}

.tech {
  color: #696f81;
}

@media (max-width: 920px) {
  .works {
    padding: 0 4rem 4rem;
  }
}

@media (max-width: 640px) {
  .works {
    padding: 0 2rem 2rem;
  }
}
