.work {
  display: flex;
  flex-direction: row;
}

.info {
  grid-column: 2;
  margin: 1.5rem 0 0 8rem;
  width: 20rem;
}

.infoSticky {
  position: sticky;
  top: 4.125rem;
  padding-bottom: 2rem;
}

.worksLink {
  text-decoration: none;
  color: #696f81;
  display: inline-block;
  margin-bottom: 2rem;
}

.worksLink:hover {
  text-decoration: underline;
}

.name {
  font-size: 2rem;
  font-weight: 900;
}

.visit {
  padding-right: 1.25rem;
  background-image: url("/external-link.png");
  background-repeat: no-repeat;
  background-position: right 2px;
  background-size: 12px 13px;
  color: #696f81;
  font-size: 0.875rem;
  text-decoration: none;
}

.visit:hover {
  text-decoration: underline;
}

.tags {
  margin: 2rem 0;
}

.tag {
  background-color: #f3f3f6;
  color: #696f81;
  font-size: 0.75rem;
  padding: 0.5em 0.7em;
  margin: 0 0.5rem 0.5rem 0;
  border-radius: 3px;
}

.content {
  flex: 1;
  grid-column: 3/4;
  display: grid;
  grid-template-columns:
    2rem
    minmax(auto, 57ch)
    minmax(2rem, 1fr);
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.5em;
  letter-spacing: -0.02em;
  padding-bottom: 2rem;
}

.content > * {
  margin: 1.5rem 0;
}

.content p {
  grid-column: 2;
}

.content img {
  grid-column: 1/4;
}

.otherWorks {
  padding: 8rem;
  background-color: #fafafb;
}

.checkOut {
  margin-bottom: 2rem;
  color: #696f81;
}

.beforeAfter {
  display: flex;
  justify-content: flex-start;
}

.otherWork {
  max-width: 25rem;
}

.otherWork:first-of-type {
  margin-right: 4rem;
}

.otherCoverLink {
  overflow: hidden;
  display: block;
}

.otherCover {
  height: 17.5rem;
  object-fit: cover;
  transition: transform 0.3s;
}

.otherCover:hover {
  transform: scale(1.03);
}

.otherName {
  font-size: 1.5rem;
  font-weight: 900;
  text-decoration: none;
  color: inherit;
  transition: color 0.3s;
  display: inline-block;
  margin-top: 1.5rem;
}

.otherName:hover {
  color: #1e69ff;
}

.otherTech {
  color: #696f81;
}

@media (max-width: 1080px) {
  .work {
    flex-direction: column;
  }

  .info {
    width: auto;
  }

  .infoSticky {
    position: static;
  }

  .content {
    grid-template-columns:
      8rem
      minmax(auto, 57ch)
      minmax(2rem, 1fr);
  }
}

@media (max-width: 920px) {
  .info {
    margin-left: 4rem;
  }

  .content {
    grid-template-columns:
      4rem
      minmax(auto, 57ch)
      minmax(2rem, 1fr);
  }

  .otherWorks {
    padding: 4rem;
  }

  .otherWork:first-of-type {
    margin-right: 2rem;
  }
}

@media (max-width: 640px) {
  .info {
    margin-left: 2rem;
  }

  .content {
    grid-template-columns:
      2rem
      minmax(auto, 57ch)
      minmax(2rem, 1fr);
  }

  .otherWorks {
    padding: 2rem;
  }

  .beforeAfter {
    flex-direction: column;
  }

  .otherWork {
    max-width: 100%;
    margin-bottom: 2rem;
  }

  .otherWork:first-of-type {
    margin-right: 0;
  }

  .otherCover {
    width: 100%;
  }
}
